[Unit]
Description=Sway Notification Center
After=graphical-session.target

[Service]
ExecStart=/usr/bin/swaync
Restart=on-failure

[Install]
WantedBy=graphical-session.target
